* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #548687;
  text-align: center;
  font-family: sans-serif;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: beige;
  cursor: pointer;
}

#reset-btn, #new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  color: antiquewhite;
  cursor: pointer;
}

#reset-btn {
  background-color: #191913;
}

#new-btn {
  background-color: #11b30c;
  border-color: orange;
}

#msg {
  color: #ffffc7;
  font-size: 8vmin;
}

.msg-container {
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
